<style type="text/css">
h1{ 
            font-size: 40px}; 
            color: teal;}

            h2{
                color:red;
            }
            </style>
<h2>{<font-size:50}</font></h2>
</head>
<body>
<h1 style="font-size: 30px; color: salmon;" >Heading 1 -1</h1>
<h1 style="font-size: 30px; color: salmon;" >Heading 1 -2</h1>
<h1 style="font-size: 30px; color: salmon;" >Heading 1 -3</h1>
<h2 style="font-size: 30px; color: salmon;" >Heading 2 -1</h2>
<h2 style="font-size: 30px; color: salmon;" >Heading 2 -2</h2>
<h2 style="font-size: 30px; color: salmon;" >Heading 2 -3</h2>